<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de inventário</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <h1>Tabela de inventario de equipamentos </h1>
        <img class="addButton" src="img/add.png" onclick="detalhar(this)"/>
        <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Tipo Equipamento</th>
                <th>Modelo</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
         

    </main>
    <script src="js/machinelist.js"></script>
    <script src="js/machineTable.js"></script>
</body>
</html>